@import "tailwindcss";

@theme {
  --color-weather-primary: #00668a;
  --color-weather-secondary: #004e71;
  --color-bermuda: #78dcca;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;

  --font-roboto: Roboto, sans-serif;
}
